body{font-size: 40px;}



    
nav a{text-decoration: none;
      color:white;
      background-color: rgb(249, 141, 32);
      padding: 18px;
      border-radius: 10px;
    }
  
   











      .email{text-align: center;
              font-size: 30px;
              color: white;
              background-color: rgba(224, 213, 147, 0.663);
            margin-top: 50px;
            margin-left: 500px;
            padding-top: 70px;
          
            height: 180px;
            width: 1040px;}






              #em{display: inline-block;
                  background-color: rgb(200, 216, 231);
                  padding: 10px 200px 10px 10px;
                
                  border-radius: 5px 0 0 5px;}

              #sub{display: inline-block;
                   background-color: rgb(255, 92, 17);
                   padding: 10px;
                  border-radius: 0 5px 5px  0;}
                   

  
footer{color: white;
  background-color: black;
text-align: center;
padding: 50px;
margin-top: 100px;}





#humble{font-style:oblique;
        color: orangered;}


            






 
  